<mdb-navbar SideClass= "navbar fixed-top navbar-expand-lg blue navbar-light scrolling-navbar ie-nav" [containerInside]="true">
  <mdb-navbar-brand>
      <a class="logo navbar-brand"><strong>Navbar</strong></a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item  waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="/start">Start</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="/landing" >Landing</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/main" >Main</a>
        </li>
      </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
  <div class="container" style="height:1300px;">
      <div class="row mt-5 pt-5">
        <router-outlet></router-outlet>
      </div>
  </div>
</main>
<!-- /.Main -->


